# **************************************************************************** #
#                                                                              #
#                                                       ::::::::   :::::::     #
#    .gitignore                                         :+:    :+:   :+:       #
#                                                       +:+    +:+   +:+       #
#    By: Diogo-ss <diogo-ss@mail.com>                   +#+    +:+   +#+       #
#                                                       +#+    +#+   +#+       #
#    Created: 2022/11/28 19:04:48 by Diogo-ss           #+#    #+#   #+#       #
#    Updated: 2022/11/28 19:04:50 by Diogo-ss           ########   #######     #
#                                                                              #
# **************************************************************************** #

.ccls-cache
a.out
libsf.h.gch
